@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);
.datepicker.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.datepicker.dropdown-menu th,
.datepicker.dropdown-menu td {
  padding: 4px 5px;
}
.datepicker .prev,
.datepicker .next {
  font-style: normal;
}
.datepicker .prev:after {
  content: "«";
}
.datepicker .next:after {
  content: "»";
}
/** Variables **/
/** Colors **/
body {
  background: #ecf0f1;
}
p,
ul li {
  color: #7f8c8d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oxygen', sans-serif;
  color: #c0392b;
}
footer {
  margin-bottom: 20px;
}
hr.divisor {
  margin: 80px 0 40px 0;
  height: 1px;
  background: #bdc3c7;
}
.how-it-works.container {
  text-align: center;
  margin-top: 40px;
}
.dark h4,
.dark h5,
.dark h6 {
  color: #7f8c8d;
}
.form-style {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  padding-bottom: 10px;
}
.form-style label {
  color: #ecf0f1;
  font-weight: normal;
}
#add-datepair {
  margin-bottom: 20px;
}
.italy {
  background: url(../img/group-travel02.jpg) left bottom;
  width: 100%;
}
.italy.jumbotron {
  padding-top: 28px;
}
.italy.jumbotron .title {
  padding: 60px 0 40px 0;
}
.italy.jumbotron .title h1,
.italy.jumbotron .title h2,
.italy.jumbotron .title h3,
.italy.jumbotron .title h4,
.italy.jumbotron .title h5,
.italy.jumbotron .title h6 {
  font-family: 'Oxygen', sans-serif;
  color: #ecf0f1;
  text-shadow: 1px 1px 2px rgba(51, 51, 51, 0.8);
  filter: dropshadow(color=#000000, offx=0, offy=0);
}
.italy.jumbotron .title a h1 {
  color: #ecf0f1;
}
.italy.jumbotron .title a h1:hover {
  color: #cfd9db;
}
.italy.jumbotron .title a:hover {
  text-decoration: none;
  cursor: pointer;
}
.italy form label {
  font-size: 18px;
  margin: 0;
}
.italy form .alert {
  font-size: 14px;
  width: 100%;
  display: block;
  text-align: center;
  padding: 3px;
}
.italy form .checkbox input {
  margin-top: 15px;
}
.italy form .btn-block {
  margin-top: 20px;
  clear: both;
}
.italy form .bootstrap-tagsinput {
  width: 100%;
}
