@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);
/** Variables **/
/** Colors **/
body {
  background: #ecf0f1;
  color: #7f8c8d;
}
p,
ul li {
  color: #7f8c8d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oxygen', sans-serif;
  color: #c0392b;
}
footer {
  margin-bottom: 20px;
}
hr.divisor {
  margin: 80px 0 40px 0;
  height: 1px;
  background: #bdc3c7;
}
.how-it-works.container {
  text-align: center;
  margin-top: 40px;
}
.dark h4,
.dark h5,
.dark h6 {
  color: #7f8c8d;
}
.form-style {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  padding-bottom: 10px;
}
.form-style label {
  color: #ecf0f1;
  font-weight: normal;
}
#add-datepair {
  position: absolute;
  bottom: 53px;
}
.italy {
  background: url(../img/group-travel02.jpg) left bottom;
  width: 100%;
}
.italy label {
  font-size: 18px;
  margin: 0;
}
.italy h1,
.italy h2,
.italy h3,
.italy h4,
.italy h5,
.italy h6 {
  font-family: 'Oxygen', sans-serif;
  color: #ecf0f1;
}
.italy .checkbox input {
  margin-top: 15px;
}
