@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);
/** Variables **/
/** Colors **/
body {
  background: #ecf0f1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oxygen', sans-serif;
  color: #34495e;
}
.marketing.container {
  text-align: center;
}
.dark {
  margin: -115px 0 10px 0;
  opacity: 0.9;
  background: #2c3e50;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #ecf0f1;
}
.italy {
  background: url(../img/group-travel.jpg) center center;
  height: 610px;
  width: 100%;
}
.italy label {
  font-size: 18px;
}
