{% load staticfiles %}
{% load compressed %}
<!DOCTYPE html>
<html>
  <head>
    <title>Groupie manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compressed_css 'bootstrap' %}
    {% compressed_css 'groupie' %}

    <script src="//code.jquery.com/jquery.js"></script>
    <!--[if lt IE 9]>
      <script src="{% static 'lib/html5shiv/js/html5shiv.js' %}"></script>
      <script src="{% static 'lib/respond/js/respond.js' %}"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">

    {% compressed_js 'libs' %}
  </head>
  <body class="{% block body_classes %}{% endblock %}">
  
  <div class="jumbotron italy">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 title">
          <a href="{% url 'home' %}">
            <h1>Welcome to Groupie!</h1>
          </a>
          <h4>Manage groups ideas for events, trips and anything else!</h4>
        </div>
        {% block form %}{% endblock %}
      </div>
    </div>
  </div>

  {% block main %}{% endblock %}
  
  {% block footer %}
  <footer>
    <div class="container">
      <div class="row">
        <hr class="col-sm-12 divisor">
      </div>
      <div class="row">
      <div class="col-sm-10">© 2013 Groupie manager</div>
      <div class="col-sm-2 text-right"><a href="http://djangodash.com/teams/c4/puccis/">Django Dash 2013</a></div>
      </div>
    </div>
  </footer>
  {% endblock %}

  {% compressed_js 'bootstrap' %}
  {% compressed_js 'groupie' %}
  </body>
</html>
