{% load staticfiles %}
{% load compressed %}
<!DOCTYPE html>
<html>
  <head>
    <title>Groupie manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compressed_css 'bootstrap' %}
    {% compressed_css 'groupie' %}

    <script src="//code.jquery.com/jquery.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'lib/html5shiv/js/html5shiv.js' %}"></script>
      <script src="{% static 'lib/respond/js/respond.js' %}"></script>
    <![endif]-->
    {% compressed_js 'libs' %}
  </head>
  <body>
  <div class="jumbotron italy">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h1>Welcome to Groupie!</h1>
          <h4>Manage groups ideas for events, trips and anything else!</h4>
        </div>
        <div class="col-lg-5 form-style">
          {% block main %}{% endblock main %}
        </div>
      </div>
    </div>
  </div>
  <div class="dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>How it works</h3>
          <h4>Enter the emails of your friends, propose a date and see what they think about it!</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container how-it-works">
    <div class="row">
      <div class="col-sm-4">
        <img src="static/img/organize-icon.png">
        <h4>Organize group events<br> and trips</h4>
      </div>
      <div class="col-sm-4">
         <img src="static/img/comments-icon.png">
        <h4>Add comments directly<br> from emails</h4>
      </div>
      <div class="col-sm-4">
        <img src="static/img/notifications-icon.png">
        <h4>Send reminders and summarize emails to all group</h4>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <hr class="col-sm-12 divisor">
      </div>
      <div class="row">
      <div class="col-sm-10">© 2013 Groupie manager</div>
      <div class="col-sm-2 text-right"><a href="http://djangodash.com/teams/c4/puccis/">Django Dash 2013</a></div>
      
      </div>
    </div>
  </footer>

    {% compressed_js 'bootstrap' %}
    {% compressed_js 'groupie' %}
  </body>
</html>
