{% extends "base.html" %}
{% load bootstrap %}
{% load jstemplate %}

{% block main %}

{% mustachejs "datetimepicker" %}

<form role="form" action="." method="post">{% csrf_token %}
  {{ form|bootstrap }}

  <div class="form-group">
    <label class="control-label" for="voting_deadline">Voting deadline</label>
    <div class="input-append date" id="voting_deadline" data-date-format="dd/mm/yyyy hh:ii">
      <input class="form-control" size="16" type="text" value="" />
      <span class="add-on"><i class="icon-th"></i></span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="voting_option_0">Options</label>
    <div class="voting-option input-append date" id="voting_option_0" data-date-format="dd/mm/yyyy hh:ii">
      <input class="form-control" size="16" type="text" value="" />
      <span class="add-on"><i class="icon-th"></i></span>
    </div>
  </div>

  <div id="empty"></div>
  
  <a class="btn btn-default" id="add-datepair">Add Dates</a>
  <input class="btn-primary" type="submit" name="create" value="create" />
</form>
{% endblock main %}
