{% extends "base.html" %}
{% load bootstrap %}
{% load jstemplate %}

{% block main %}

{% mustachejs "add_datepair" %}

<form action="." method="post">
  {% csrf_token %}
  {{ form|bootstrap }}

  <p class="datepair" data-language="javascript">
    <input name="date_0" type="text" class="date">
    <input name="time_0" type="text" class="time">
  </p>
  <div id="empty"></div>
  <a class="btn btn-default" id="add-datepair">Add Dates</a>
  <input class="btn-primary" type="submit" name="create" value="create" />
</form>
{% endblock main %}
