{% extends "base.html" %}



{% block main %}

	
	# VOTING <br />
     from_email: {{ voting.from_email }} <br />
     description: {{ voting.description }} <br />
     options: 
     <ul>
     	{% for o in voting.voting_options.all %}
			<li>option "{{ o }}": {{ o.voters.all }}</li>
     	{% endfor %}
     </ul>
     <ul>
     	{% for o in voting.voters.all %}
			<li>voter "{{ o }}": {{ o.voted_voting_options.all }}</li>
     	{% endfor %}
     </ul>
     send to all: {{ voting.send_to_all }} <br />
	#

{% endblock main %}