{% extends "base.html" %}



{% block main %}

	<form action='{% url 'voting' voting.url_hash %}?ref={{ voter.ref_hash }}' method="post">
		{% csrf_token %}
		

		<span>Hello, {{ voter.email }}! </span> <br />
	    <span>Here it goes: {{ voting.description }} </span> <br />

	    <div> 
			Your options are: <br />		     
			<ul>
		     	{% with voter.voted_voting_options.all as voted_options %} 
			     	{% for o in voting.voting_options.all %}
						<li>
							<input {% if o in voted_options %}checked{% endif %} type="checkbox" name="voting_options" id="option_{{ o.id }}" value="{{ o.id }}" />
							"{{ o }}"<br />
							<span>
								Voters ({{ o.voters.all|length }}):
								{% for v in o.voters.all %} 
									{{ v.email }}
								{% endfor %}
							</span>
						</li>
			     	{% endfor %}
			     {% endwith %}
		     </ul>
		 </div>
	  	<input type="submit" value="vote" />
		
	</form>

{% endblock main %}