{% extends "base.html" %}



{% block main %}

	<form action='{% url 'voting' voting.url_hash %}?ref={{ voter.ref_hash }}' method="post">
		{% csrf_token %}
		

		<span>Hello, {{ voter.email }}! </span> <br />
	    <span>Here it goes: {{ voting.description }} </span> <br />

	    <div> 
			Your options are: <br />		     
			<ul>
		     	{% for voo in voting_options_sorted %}
					<li>
						<input {% if voo.option in voter.voted_voting_options.all %}checked{% endif %} type="checkbox" name="voting_options" id="option_{{ voo.option.id }}" value="{{ voo.option.id }}" />
						{% if voo.is_top %}TOP VOTED! {% endif %}
						"{{ voo.option }}"
						<br />
						<span>
							Voters ({{ voo.option.voters.all|length }}):
							{% for v in voo.option.voters.all %} 
								{{ v.email }}
							{% endfor %}
						</span>
					</li>
		     	{% endfor %}
		     </ul>
		 </div>
	  	<input type="submit" value="vote" />
		
	</form>

{% endblock main %}