<div class="voting-option input-append date col-xs-8 input-group" id="voting_option_{{ nr }}" data-date-format="dd/mm/yyyy hh:ii">
  <input class="form-control input-sm" name="voting_options" size="16" type="text">
  <span class="input-group-btn">
    <button class="btn btn-danger remove" type="button">
      <span class="glyphicon glyphicon-remove-circle"></span>
    </button>
  </span>
  <span class="add-on"><i class="icon-th"></i></span>
</div> 
