<div class="row voting-option">
  <div class="input-append date col-xs-8" id="voting_option_{{ nr }}" data-date-format="dd/mm/yyyy hh:ii">
    <input class="form-control input-xs" name="voting_options" size="16" type="text" value="{{ previous }}">
    <span class="add-on"><i class="icon-th"></i></span>
  </div>
  <a class="btn btn-danger remove col-xs-3" type="button">Remove</a>
</div>