<div class="voting-option input-append date col-lg-8" id="voting_option_{{ nr }}" data-date-format="dd/mm/yyyy hh:ii">
  <input class="form-control input-sm" size="16" name="voting_options" placeholder="26/08/2013 01:46" type="text">
  <a class="remove">Remove</a>
  <span class="add-on"><i class="icon-th"></i></span>
</div> 
