@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);

/** Variables **/
/** Colors **/
@TitlesColor: rgba(192, 57, 43,1.0);
@SecondTitlesColor: rgba(236, 240, 241,1.0);
@LabelColor: rgba(236, 240, 241,1.0);
@TextColor: rgba(127, 140, 141,1.0);
@BackgroundColor: rgba(236, 240, 241,1.0);
@SecondBackgroundColor: rgba(0, 0, 0,0.6);
@DivisorColor: rgba(189, 195, 199,1.0);
@Black: rgba(51, 51, 51,1.0);
@RadiusCorner: 2px;

body {
	background: @BackgroundColor;
	color: @TextColor;
}
p, ul li {
	color: @TextColor;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oxygen', sans-serif;
	color: @TitlesColor;
}

footer { margin-bottom: 20px;}

hr.divisor {
	margin: 80px 0 40px 0;
	height: 1px;
	background: @DivisorColor;
}
.how-it-works.container { 
	text-align: center;
	margin-top: 40px;
}

.dark {

	h4, h5, h6 {
		color: @TextColor;
	}
}
.form-style {
	background: @SecondBackgroundColor;
	border-radius: @RadiusCorner;
	-webkit-border-radius: @RadiusCorner;
	padding-bottom: 10px;

	label { 
		color: @LabelColor;
		font-weight: normal;
	}
}

#add-datepair { 
	position: absolute; 
	bottom: 53px;
}
.italy {
	background:url(../img/group-travel02.jpg) left bottom;
	width: 100%;

	label {
		font-size: 18px;
		margin: 0;
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Oxygen', sans-serif;
		color: @SecondTitlesColor;
	}
	
	.checkbox input{
		margin-top: 15px;
	}
}	